<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <nav class="nav navbar-nav navbar-left">
    <span>Bookers</span>
  </nav>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li>
       <a class="glyphicon glyphicon-home home" href="/user/id"> Home</a>
      </li>
      <li>
        <a class="glyphicon glyphicon-user users" href="/users">
        Users</a>
      </li>
      <li>
        <a class="glyphicon glyphicon-book books" href="/books">Books</a>
      </li>
      <li>
        <a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign out">logout</a>
      </li>
    </ul>
  </nav>
</div>
</header>